html,body {
	height: 100%;
	color: #393939;
}
.disable-select (@select: none) {
  -webkit-user-select: @select;
  -moz-user-select: @select;
  -ms-user-select: @select;
  -o-user-select: @select;
  user-select: @select;
}
.header {
	background-color: #438eb9;
	min-height: 45px;
	height: 45px;
	.disable-select;
}
.container {
	padding: 0;
	margin: 0;
}
.left-container {
	position: absolute;
	width: 190px;
	left: 0;
	top: 45px;
	bottom: 0;
	background-color: #f2f2f2;
	&.left-mini {
		width: 43px;
		& + .right-container {
			left: 43px;
		}
	}
}
.left-container * {
	.disable-select;
}
.right-container {
	position: absolute;
	left: 190px;
	right: 0;
	top: 45px;
	bottom: 0;
}
.badge {
	font-size: 12px;
	padding-top: 1px;
	padding-bottom: 3px;
	font-weight: 400;
	line-height: 19px;
}
.btn {
	border-radius: 0;
	&:focus {
		outline: none;
	}
}
.badge-grey {
	background-color: #a0a0a0!important;
}
.badge-important {
	background-color: #d15b47!important;
}
.badge-success {
	background-color: #82af6f!important;
}
.grey {
	color: #777!important;
}
.purple {
	color: #a069c3!important;
}
.green {
	color: #69aa46!important;
}
.light-blue {
	color: #93cbf9!important;
}
.icon-animated-bell {
	animation: ringing 2s infinite ease 1s;
	-webkit-animation: ringing 2s infinite ease 1s;
	-moz-animation: ringing 2s infinite ease 1s;
	-o-animation: ringing 2s infinite ease 1s;
	-ms-animation: ringing 2s infinite ease 1s;
	transform-origin: 50% 0;
	-webkit-transform-origin: 50% 0;
	-o-transform-origin: 50% 0;
	-moz-transform-origin: 50% 0;
	-ms-transform-origin: 50% 0;	
}
.icon-animated-vertical {
	display: inline-block;
	-moz-animation: vertical 2s infinite ease 2s;
	-webkit-animation: vertical 2s infinite ease 2s;
	-o-animation: vertical 2s infinite ease 2s;
	-ms-animation: vertical 2s infinite ease 2s;
	animation: vertical 2s infinite ease 2s;
}
@-webkit-keyframes ringing {
    0% {
        -webkit-transform: rotate(-15deg)
    }
    2% {
        -webkit-transform: rotate(15deg)
    }
    4% {
        -webkit-transform: rotate(-18deg)
    }
    6% {
        -webkit-transform: rotate(18deg)
    }
    8% {
        -webkit-transform: rotate(-22deg)
    }
    10% {
        -webkit-transform: rotate(22deg)
    }
    12% {
        -webkit-transform: rotate(-18deg)
    }
    14% {
        -webkit-transform: rotate(18deg)
    }
    16% {
        -webkit-transform: rotate(-12deg)
    }
    18% {
        -webkit-transform: rotate(12deg)
    }
    20% {
        -webkit-transform: rotate(0deg)
    }
}
@-webkit-keyframes vertical {
	0% {
	    -webkit-transform: translate(0,-3px)
	}

	4% {
	    -webkit-transform: translate(0,3px)
	}

	8% {
	    -webkit-transform: translate(0,-3px)
	}

	12% {
	    -webkit-transform: translate(0,3px)
	}

	16% {
	    -webkit-transform: translate(0,-3px)
	}

	20% {
	    -webkit-transform: translate(0,3px)
	}

	22% {
	    -webkit-transform: translate(0,0)
	}
}