<div class="navbar-header pull-left">
	<a ng-href="" class="navbar-brand">
		<small>
			<i class="fa fa-headphones"></i>
			MusicYao
		</small>	
	</a>
</div>
<div class="navbar-buttons pull-right">
	<ul class="nav my-nav">
		<li class="grey">
			<a ng-href="">
				<i class="my-icon fa fa-tasks"></i>
				<span class="badge badge-grey">4</span>
			</a>
		</li>
		<li class="purple">
			<a ng-href="">
				<i class="my-icon fa fa-bell icon-animated-bell"></i>
				<span class="badge badge-important">4</span>
			</a>
		</li>
		<li class="green">
			<a ng-href="">
				<i class="my-icon fa fa-envelope"></i>
				<span class="badge badge-success">4</span>
			</a>
		</li>
		<li class="light-blue">
			<a ng-href="" alt="My photo">
				<img class="nav-user-photo" src="http://responsiweb.com/themes/preview/ace/1.3.1/assets/avatars/user.jpg" />
				<span class="user-info">
					<small>早上好,</small>
					姚世宁
				</span>
			</a>
		</li>
	</ul>
</div>	