<div id="sidebar" class="sidebar" ng-class="{'menu-mini': minimized}" ng-controller="SidebarCtrl">
	<div class="sidebar-shortcuts" id="sidebar-shortcuts">
		<div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
			<button class="btn btn-success">
				<i class="my-icon fa fa-signal"></i>
			</button>
			<button class="btn btn-info">
				<i class="my-icon fa fa-pencil"></i>
			</button>
			<button class="btn btn-warning">
				<i class="my-icon fa fa-users"></i>
			</button>
			<button class="btn btn-danger">
				<i class="my-icon fa fa-cogs"></i>
			</button>			
		</div>
		<div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
			<span class="btn btn-success"></span>			
			<span class="btn btn-info"></span>
			<span class="btn btn-warning"></span>
			<span class="btn btn-danger"></span>				
		</div>
	</div>
	<ul class="nav nav-list">
		<li ng-repeat="nav in navs" ng-class="{'active': isSelected(nav),'hsub': nav.children,'open': nav.expand}">
			<a ng-href="{{nav.url}}" ng-click="select(nav)" ng-class="{'dropdown-toggle': nav.children}">
				<i class="menu-icon fa {{nav.iconStyle}}"></i>
				<span class="menu-text">{{nav.name}}</span>
				<b class="arrow fa fa-angle-down"></b>
			</a>
			<navs ng-if="nav.children" items="nav.children" ng-show="nav.expand && !minimized">
			</navs>
		</li>	
	</ul>
	<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
		<i class="my-icon fa fa-angle-double-left" ng-click="minimize()" ng-hide="minimized"></i>
		<i class="my-icon fa fa-angle-double-right" ng-click="maximize()" ng-show="minimized"></i>
	</div>
</div>