<div id="sidebar" class="sidebar" ng-controller="SidebarCtrl">
	<div class="sidebar-shortcuts" id="sidebar-shortcuts">
		<div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
			<button class="btn btn-success">
				<i class="my-icon fa fa-signal"></i>
			</button>
			<button class="btn btn-info">
				<i class="my-icon fa fa-pencil"></i>
			</button>
			<button class="btn btn-warning">
				<i class="my-icon fa fa-users"></i>
			</button>
			<button class="btn btn-danger">
				<i class="my-icon fa fa-cogs"></i>
			</button>			
		</div>
	</div>
	<ul class="nav nav-list">
		<li ng-repeat="nav in navs" ng-class="{'active': isSelected($index)}">
			<a ng-href="{{nav.url}}" ng-click="select($index)">
				<i class="menu-icon fa {{nav.iconStyle}}"></i>
				<span class="menu-text">{{nav.name}}</span>
			</a>
		</li>	
	</ul>
	<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
		<i class="my-icon fa fa-angle-double-left"></i>
	</div>
</div>